<!--<hadardasim-user-form (userAddedEvent) = "addUser($event)">Add Users</hadardasim-user-form> <! ex 6 class>  -->
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group customers">
        <li *ngFor = "let customer of customers" 
             [class.active]="currentCustomer == customer"
             (click) = "select(customer)"
             class="list-group-item">
             <hadardasim-customer [customer] = "customer"
             (deleteEvent) = "deleteCustomer($event)"
             (cancelEvent) = "updateCustomer($event)"> </hadardasim-customer>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
      <!--   <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
      <!--   <li *ngFor = "let cname of customer.prodCate">
                {{(cname | async)?.cname}}
          </li>
        </ul>  -->
        </li>
    </ul>
</div>
<h1> ex 4 </h1>
<hadardasim-spinner [visible]= "isLoading"></hadardasim-spinner>
<div>
    <ul class="list-group customers">
        <li *ngFor = "let customer of customers" 
             [class.active]="currentCustomer == customer"
             (click) = "select(customer)"
             class="list-group-item">
             <hadardasim-customer [customer] = "customer"
             (deleteEvent) = "deleteCustomer($event)"
             (cancelEvent) = "updateCustomer($event)"> </hadardasim-customer>
              <!--for ex 5 --> <!--it was 
             (cancelEvent) = "cancel($event)" until ex 7 class it change to updateUser-->
                
         <ul>       <!-- use this ul for join. another file changed is users.service.ts -->
         <li *ngFor = "let cname of customer.prodCate">
                {{(cname | async)?.cname}}
          </li>
        </ul>  
        </li>
    </ul>
</div>

