<h2>Add Product</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="pname">Product Name</label>
    <input type="text"
            class="form-control"
            id="pname"
            name="pname"
            required
            [(ngModel)] = "product.pname">
  </div>
  <div class="form-group">
    <label for="cost">Cost</label>
    <input type="text"
            class="form-control"
            id="cost"
            name="cost"
            [(ngModel)] = "product.cost">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>